<div class = "container">
  <div class="hexagon"></div>
  <div class="line"></div>
  <div class="smallhexagon"></div>

  <div class="buttons">
    <svg height="220" width="200">
      <path (click)="onMouseUp(1)" d="M 4 58
      L 100 0
      L 100 58
      L 52 85
      Z"   />
      <path (click)="onMouseUp(2)" d="M 100 0
      L 198 58
      L 150 85
      L 100 58
      Z"/>
    <path (click)="onMouseUp(3)" d="M 149 85
    L 196 58
    L 196 168
    L 149 139
    Z"/>
    <path (click)="onMouseUp(4)" d="M 100 169
    L 149 139
    L 196 168
    L 100 222
    Z"/>
  </svg>
  </div>

</div>

