table {
  width: 180px;
  height: 90px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rosybrown;
}
