<app-hexagon class="hexagon3" [model] = 'hexagons[1]' (sectorClick) = "onClick($event)"></app-hexagon>
<app-hexagon class="hexagon7" [model] = 'hexagons[2]' (sectorClick) = "onClick($event)"></app-hexagon>
<app-hexagon class="hexagon6" [model] = 'hexagons[3]' (sectorClick) = "onClick($event)"></app-hexagon>
<app-hexagon class="hexagon2" [model] = 'hexagons[4]' (sectorClick) = "onClick($event)"></app-hexagon>
<app-hexagon class="hexagon4" [model] = 'hexagons[5]' (sectorClick) = "onClick($event)"></app-hexagon>
<app-hexagon class="hexagon5" [model] = 'hexagons[6]' (sectorClick) = "onClick($event)"></app-hexagon>
<app-hexagon class="hexagon1" [model] = 'hexagons[0]' (sectorClick) = "onClick($event)"></app-hexagon>


