<div [ngStyle]="{ 'border-color': 'red',  'border-style': 'solid', 'border-width': border}">

<table class="dashboard">
  <tr>
    <td colspan="7" [ngStyle]="{'background': color}"  align="center"> {{name}} </td>
  </tr>
  <tr>
    <td colspan="7" [ngStyle]="{'background': archcolor}"  align="center"> {{archname}} </td>
  </tr>
  <tr>
    <td [ngStyle]="{'background': '#eb0008'}" align="center">{{resources[0]}}</td>
    <td [ngStyle]="{'background': '#ff9d00'}" align="center">{{resources[1]}}</td>
    <td [ngStyle]="{'background': '#ffea00'}" align="center">{{resources[2]}}</td>
    <td [ngStyle]="{'background': '#00c403'}" align="center">{{resources[3]}}</td>
    <td [ngStyle]="{'background': '#00e0d5'}" align="center">{{resources[4]}}</td>
    <td [ngStyle]="{'background': '#171ae3', 'color' : '#fff'}" align="center">{{resources[5]}}</td>
    <td [ngStyle]="{'background': '#9600ed', 'color' : '#fff'}" align="center">{{resources[6]}}</td>
  </tr>
  <tr [ngStyle]="{'color': '#fff'}">
    <td colspan="4">Gold: </td>
    <td colspan="3" align="right">{{gold}}</td>
  </tr>
  <tr [ngStyle]="{'color': '#fff'}">
    <td colspan="4">Silver: </td>
    <td colspan="3" align="right">{{silver}}</td>
  </tr>
  <tr [ngStyle]="{'color': '#fff'}">
    <td colspan="4">Bronze: </td>
    <td colspan="3" align="right">{{bronze}}</td>
  </tr>
</table>
</div>
