<table class="dashboard">
  <tr>
    <td colspan="7" [ngStyle]="{'background': '#fff'}"  align="center"> PlayerName </td>
  </tr>
  <tr>
    <td [ngStyle]="{'background': '#eb0008'}" align="center">1</td>
    <td [ngStyle]="{'background': '#ff9d00'}" align="center">2</td>
    <td [ngStyle]="{'background': '#ffea00'}" align="center">3</td>
    <td [ngStyle]="{'background': '#00c403'}" align="center">4</td>
    <td [ngStyle]="{'background': '#00e0d5'}" align="center">5</td>
    <td [ngStyle]="{'background': '#171ae3', 'color' : '#fff'}" align="center">6</td>
    <td [ngStyle]="{'background': '#9600ed', 'color' : '#fff'}" align="center">7</td>
  </tr>
  <tr [ngStyle]="{'color': '#fff'}">
    <td colspan="4">Gold: </td>
    <td colspan="3" align="right">1</td>
  </tr>
  <tr [ngStyle]="{'color': '#fff'}">
    <td colspan="4">Silber: </td>
    <td colspan="3" align="right">10</td>
  </tr>
  <tr [ngStyle]="{'color': '#fff'}">
    <td colspan="4">Bronze: </td>
    <td colspan="3" align="right">100</td>
  </tr>
</table>
