<table>

  <tr class="resource">
    <td [ngStyle]="{'background': '#ccc'}" align="center" colspan="2">Jaro </td>
  </tr>
  <tr class="blank">
    <td></td>
    <td></td>
  </tr>
  <tr class="keyresource">
    <td> <app-active-player-button color="red"></app-active-player-button></td>
    <td class="value">3</td>
  </tr>
  <tr class="keyresource">
    <td ><app-active-player-button color="orange"></app-active-player-button></td>
    <td class="value">13</td>
  </tr>
  <tr class="keyresource">
    <td ><app-active-player-button color="yellow"></app-active-player-button></td>
    <td class="value">7</td>
  </tr>
  <tr class="blank">
    <td> </td>
    <td></td>
  </tr>
  <tr class="resource">
    <td ><app-active-player-button color="lightgreen" height="20px"></app-active-player-button></td>
    <td></td>
  </tr>
  <tr class="resource">
    <td ><app-active-player-button color="lightblue" height="20px"></app-active-player-button></td>
    <td></td>
  </tr>
  <tr class="resource">
    <td ><app-active-player-button color="blue" height="20px"></app-active-player-button></td>
    <td></td>
  </tr>
  <tr class="resource">
    <td ><app-active-player-button color="violet" height="20px"></app-active-player-button></td>
    <td></td>
  </tr>
  <tr class="blank">
    <td></td>
  </tr>
  <tr class="keyresource">
    <td> <app-active-player-button color="orange" radius="50%"></app-active-player-button></td>
    <td></td>
  </tr>
  <tr class="keyresource">
    <td> <app-active-player-button color="lightgray" radius="50%"></app-active-player-button></td>
    <td></td>
  </tr>
  <tr class="keyresource">
    <td> <app-active-player-button color="#634c00" radius="50%"></app-active-player-button></td>
    <td></td>
  </tr>

</table>
