table {
  width: 80px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td {
  width: 40px;
  vertical-align: top;
}

.keyresource {
  height: 40px;
}

.resource {
  height: 20px;
}


.blank {
  height: 15px;
}

.value{
  vertical-align: middle;
  color: white;
  text-align: center;
}
