<table>

  <tr class="resource">
    <td> </td>
    <td></td>
  </tr>
  <tr class="keyresource">
    <td [ngStyle]="{'background': '#eb0008','border-radius': '12%'}"> </td>
    <td></td>
  </tr>
  <tr class="keyresource">
    <td [ngStyle]="{'background': '#ff9d00','border-radius': '12%'}"> </td>
    <td></td>
  </tr>
  <tr class="keyresource">
    <td [ngStyle]="{'background': '#ffea00','border-radius': '12%'}"> </td>
    <td></td>
  </tr>
  <tr class="resource">
    <td> </td>
    <td></td>
  </tr>
  <tr class="resource">
    <td [ngStyle]="{'background': '#00c403','border-radius': '12%'}"> </td>
    <td></td>
  </tr>
  <tr class="resource">
    <td [ngStyle]="{'background': '#00e0d5','border-radius': '12%'}"> </td>
    <td></td>
  </tr>
  <tr class="resource">
    <td [ngStyle]="{'background': '#171ae3','border-radius': '12%'}"> </td>
    <td></td>
  </tr>
  <tr class="resource">
    <td [ngStyle]="{'background': '#9600ed', 'border-radius': '12%'}"> </td>
    <td></td>
  </tr>
  <tr class="resource">
    <td></td>
  </tr>
  <tr class="keyresource">
    <td [ngStyle]="{'background-image': 'linear-gradient(yellow, #ff6600)',  'border-radius': '50%'}"></td>
    <td></td>
  </tr>
  <tr class="keyresource">
    <td [ngStyle]="{'background-image': 'linear-gradient(white, grey)',  'border-radius': '50%'}"></td>
    <td></td>
  </tr>
  <tr class="keyresource">
    <td [ngStyle]="{'background-image': 'linear-gradient(#cc9900, #4d2600)',  'border-radius': '50%'}"></td>
    <td></td>
  </tr>

</table>
