table {
  width: 80px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td {
  width: 35px;
  vertical-align: top;
}

.keyresource {
  height: 38px;
}

.resource {
  height: 20px;
}


.blank {
  height: 10px;
}

.value{
  vertical-align: middle;
  color: white;
  text-align: center;
  column-span: 2;
}

.plustd {
  width: 20px;
  color: white;
  vertical-align: middle;
}

.plustd {
  width: 10px;
  text-align: center
}

.plustd:hover {
  background-color: #666;
}

.plustd:active {
  background-color: #999;
}

.icon {
  height: 41px;
}

.coin
{
  height: 42px;
}
